/arabidopsis
/coffie
/soybean
/home/tiago/documents/lncRNA/studies
tree.py
tree.ipynb
/blast_databases/sources/GCF_003713225.1_Cara_1.0_genomic.fna
/blast_databases/sources/genome_assemblies_genome_fasta.tar
/C.arabica
/A.thaliana
/home/tiago/documents/lncRNA/notebooks
/G.max